{% extends "base.html.twig" %}

{% use "messenger.html.twig" %}

{% block head %}
    {{ parent() }}
    <script type="application/javascript">
    $(document).ready(getLastWeeksResults);
    </script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <h2>{{ page_name }}</h2>
    <h3>After Week {{ standings_week }}</h3>

    {# Standings Table #}
    {{ macros.table('standings-table') }}
        <tr>
            <th>&nbsp;</th>
            <th align="left">Name</th>
            <th class="padded">Correct</th>
            <th class="padded">Missed</th>
            <th class="padded">Percent</th>
            <th class="padded">Week {{ standings_week }}</th>
        </tr>
    {% for item in standings %}
        <tr>
            <td align="right">{{ item.place }}</td>
            <td class="padded">
                {% if item.ready %}
                    {% set src %}{{ base_uri }}/public/fc-win-mark.png{% endset %}
                    {% set img_title %}Picks submitted{% endset %}
                {% else %}
                    {% set src %}{{ base_uri }}/public/fc-lose-mark.png{% endset %}
                    {% set img_title %}Picks pending{% endset %}
                {% endif %}
                {{ macros.img(src, 10, 10, img_title) }}
                <strong>{{ macros.link(item.path, item.name, base_path) }}</strong>
            </td>
            <td align=center class="standing-win wins">{{ item.wins }}</td>
            <td align=center class="standing-loss losses">{{ item.loses }}</td>
            <td align=center>{{ item.per }}%</td>
            <td align=center id="last-week-{{ item.name|css_id }}"></td>
        </tr>
    {% endfor %}
    </table>

    {% block messenger %}
        {{ parent() }}
    {% endblock %}
    <div class="clear: both;"></div>
{% endblock %}
